.main-dashed
  .r1-l{:style => "border-bottom: 1px solid #000;"}
    %div{:style => "padding:10px 25px 10px 25px"}
      .text-izv Извещение
      .text-kas{:style => "margin-top: 200px;"} Кассир
  .r1-r{:style => "border-bottom: 1px solid #000;"}
    %div{:style => "padding:10px 25px 10px 25px"}
      .text-pd4 Форма № ПД-4
      .line{:style => "width: 490px"} Навальный Алексей Анатольевич
      .subtext{:style => "width: 490px"} (наименование получателя платежа)
      .line{:style => "width: 200px"} 000000000000
      %div{:style => "width: 28px;float: left"}  
      .cell 4
      .cell 0
      .cell 8
      .cell 1
      .cell 0
      .cell 8
      .cell 1
      .cell 0
      .cell 9
      .cell 3
      .cell 8
      .cell 0
      .cell 4
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell_end 5
      .subtext{:style => "width: 200px"} (ИНН получателя платежа)
      .text{:style => "width: 28px"}  
      .subtext{:style => "width: 260px"} (номер счета получателя платежа)
      .line{:style => "width: 327px"} в ОАО «СБЕРБАНК РОССИИ»
      .text{:style => "width: 44px; text-align: center"} БИК
      .cell 0
      .cell 4
      .cell 4
      .cell 5
      .cell 2
      .cell 5
      .cell 2
      .cell 2
      .cell_end 5
      .subtext{:style => "width: 327px"} (наименование банка получателя платежа)
      .text{:style => "width: 44px"}  
      .subtext{:style => "width: 110px"}  
      .text{:style => "width: 228px"} Номер кор./сч. банка получателя платежа
      .cell 3
      .cell 0
      .cell 1
      .cell 0
      .cell 1
      .cell 8
      .cell 1
      .cell 0
      .cell 4
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 2
      .cell 2
      .cell_end 5
      %div{:style => "float: left; width: 488px; height: 3px; font-size: 3px"}  
      .line{:style => "width: 287px"} Добр. пожертв. в изб. фонд канд. Навального А.А.
      .text{:style => "width: 22px; text-align: center"}  
      .line{:style => "width: 180px"}  
      .subtext{:style => "width: 287px"} (наименование платежа)
      .text{:style => "width: 22px"}  
      .subtext{:style => "width: 180px"} (номер лицевого счета (код) плательщика)
      .text{:style => "width: 107px"} Ф.И.О. плательщика
      .line{:style => "width: 381px"}  
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
      .text{:style => "width: 100px"} Адрес плательщика
      .line{:style => "width: 388px"}  
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
      .text{:style => "width: 80px"} Сумма платежа
      .line{:style => "width: 51px"}  
      .text{:style => "width: 22px"} руб.
      .line{:style => "width: 21px"}  
      .text{:style => "width: 22px"} коп.
      .text{:style => "width: 58px"}  
      .text{:style => "width: 118px"} Сумма платы за услуги
      .line{:style => "width: 51px"}  
      .text{:style => "width: 22px"} руб.
      .line{:style => "width: 21px"}  
      .text{:style => "width: 22px"} коп.
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
      .text{:style => "width: 32px"} Итого
      .line{:style => "width: 51px"}  
      .text{:style => "width: 22px"} руб.
      .line{:style => "width: 21px"}  
      .text{:style => "width: 22px"} коп.
      .text{:style => "width: 152px"}  
      .text{:style => "width: 5px"} "
      .line{:style => "width: 31px"}  
      .text{:style => "width: 5px"} "
      .line{:style => "width: 100px"}  
      .text{:style => "width: 18px"} 200
      .line{:style => "width: 20px"}  
      .text{:style => "width: 5px"} г.
      .text{:style => "width: 152px"}  
      .text{:style => "font-size: 80%;height:25px"}
        С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка,
        %br>/
        ознакомлен и согласен.
      .text{:style => "width: 250px"}  
      .text{:style => "font-size: 80%; font-weight: bold; width: 105px"} Подпись плательщика:
      .line{:style => "width: 130px"}  
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
  .r1-l
    %div{:style => "padding:10px 25px 10px 25px"}
      .text-kvi Квитанция
      .text-kas{:style => "margin-top: 10px;"} Кассир
  .r1-r
    %div{:style => "padding:10px 25px 10px 25px"}
      .text-pd4  
      .line{:style => "width: 490px"} Навальный Алексей Анатольевич
      .subtext{:style => "width: 490px"} (наименование получателя платежа)
      .line{:style => "width: 200px"} 000000000000
      %div{:style => "width: 28px;float: left"}  
      .cell 4
      .cell 0
      .cell 8
      .cell 1
      .cell 0
      .cell 8
      .cell 1
      .cell 0
      .cell 9
      .cell 3
      .cell 8
      .cell 0
      .cell 4
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell_end 5
      .subtext{:style => "width: 200px"} (ИНН получателя платежа)
      .text{:style => "width: 28px"}  
      .subtext{:style => "width: 260px"} (номер счета получателя платежа)
      .line{:style => "width: 327px"} в ОАО «СБЕРБАНК РОССИИ»
      .text{:style => "width: 44px; text-align: center"} БИК
      .cell 0
      .cell 4
      .cell 4
      .cell 5
      .cell 2
      .cell 5
      .cell 2
      .cell 2
      .cell_end 5
      .subtext{:style => "width: 327px"} (наименование банка получателя платежа)
      .text{:style => "width: 44px"}  
      .subtext{:style => "width: 110px"}  
      .text{:style => "width: 228px"} Номер кор./сч. банка получателя платежа
      .cell 3
      .cell 0
      .cell 1
      .cell 0
      .cell 1
      .cell 8
      .cell 1
      .cell 0
      .cell 4
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 0
      .cell 2
      .cell 2
      .cell_end 5
      %div{:style => "float: left; width: 488px; height: 3px; font-size: 3px"}  
      .line{:style => "width: 287px"} Добр. пожертв. в изб. фонд канд. Навального А.А.
      .text{:style => "width: 22px; text-align: center"}  
      .line{:style => "width: 180px"}  
      .subtext{:style => "width: 287px"} (наименование платежа)
      .text{:style => "width: 22px"}  
      .subtext{:style => "width: 180px"} (номер лицевого счета (код) плательщика)
      .text{:style => "width: 107px"} Ф.И.О. плательщика
      .line{:style => "width: 381px"}  
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
      .text{:style => "width: 100px"} Адрес плательщика
      .line{:style => "width: 388px"}  
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
      .text{:style => "width: 80px"} Сумма платежа
      .line{:style => "width: 51px"}  
      .text{:style => "width: 22px"} руб.
      .line{:style => "width: 21px"}  
      .text{:style => "width: 22px"} коп.
      .text{:style => "width: 58px"}  
      .text{:style => "width: 118px"} Сумма платы за услуги
      .line{:style => "width: 51px"}  
      .text{:style => "width: 22px"} руб.
      .line{:style => "width: 21px"}  
      .text{:style => "width: 22px"} коп.
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}  
      .text{:style => "width: 32px"} Итого
      .line{:style => "width: 51px"}  
      .text{:style => "width: 22px"} руб.
      .line{:style => "width: 21px"}  
      .text{:style => "width: 22px"} коп.
      .text{:style => "width: 152px"}  
      .text{:style => "width: 5px"} "
      .line{:style => "width: 31px"}  
      .text{:style => "width: 5px"} "
      .line{:style => "width: 100px"}  
      .text{:style => "width: 18px"} 200
      .line{:style => "width: 20px"}  
      .text{:style => "width: 5px"} г.
      .text{:style => "width: 152px"}  
      .text{:style => "font-size: 80%;height:25px"}
        С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка,
        %br>/
        ознакомлен и согласен.
      .text{:style => "width: 250px"}  
      .text{:style => "font-size: 80%; font-weight: bold; width: 105px"} Подпись плательщика:
      .line{:style => "width: 130px"}  
      %div{:style => "float: left; width: 488px; height: 7px; font-size: 7px"}